@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");
@keyframes slide-menu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-item-anim {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Hide the scrollbar while allowing scrolling */
body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the scrollbar thumb transparent */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Make the scrollbar track transparent */
}

body {
  background-image: url("../images/background_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: black;
}
body .carousel-section {
  width: 100%;
  display: block;
}
body .carousel-section .carousel-inner {
  display: block;
}
body .carousel-section .carousel-img {
  filter: drop-shadow(30px 10px 4px #000000);
  animation: neonLight 1s linear infinite;
}
@keyframes neonLight {
  0%, 18%, 18.5%, 20.1%, 31%, 32%, 33%, 34%, 35%, 30%, 50%, 51%, 52%, 53%, 54%, 55%, 56%, 57%, 58%, 59%, 60%, 60.1%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    filter: none;
  }
  18.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    filter: drop-shadow(0px 0px 10px rgb(0, 255, 238));
  }
}

nav {
  position: fixed;
  padding: 2em;
  background: black;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: none;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: right;
}
nav .close-button {
  float: right;
  width: 32px;
  cursor: pointer;
  color: white;
}
nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 80%;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}
nav ul li {
  opacity: 0;
}

header {
  height: 72px;
}
header .logo {
  display: flex;
  width: 6.5rem;
  height: auto;
  float: left;
}
header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header .menu-button {
  display: flex;
  margin-right: 30px;
  margin-top: 28px;
  float: right;
  cursor: pointer;
  color: #ffffff;
}

.show-menu {
  display: block;
  animation: slide-menu 1s ease-in forwards;
}
.show-menu .close-button {
  animation: show-x 1s 1s forwards;
}
.show-menu li:nth-of-type(1) {
  animation: menu-item-anim 0.6s forwards 1s ease-in-out;
}
.show-menu li:nth-of-type(2) {
  animation: menu-item-anim 0.6s forwards 1.2s ease-in-out;
}
.show-menu li:nth-of-type(3) {
  animation: menu-item-anim 0.6s forwards 1.4s ease-in-out;
}
.show-menu li:nth-of-type(4) {
  animation: menu-item-anim 0.6s forwards 1.6s ease-in-out;
}

footer {
  background: #000000;
  color: #ffffff;
}
footer .footertop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0rem;
}
footer .footertop .namelogo1 {
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "El Messiri", sans-serif;
  font-weight: 800;
  max-width: 40%;
  margin-bottom: 2rem;
}
footer .footertop ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
footer .footertop ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}
footer .footerbottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: small;
}

.scroll-to-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.scroll-to-top img {
  width: 40px;
  height: auto;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
}
.scroll-to-top:hover img {
  background-color: #9b9b9b;
}

.card-display {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.card-display .flex-x {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-display .card {
  border-radius: 1rem;
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 0% 2% 3% 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18rem;
}
.card-display .mt-x {
  margin-top: 30%;
}
.card-display .glass-effect {
  background-color: rgba(255, 255, 255, 0.1);
}
.card-display .card-img-top {
  margin-top: -50%;
}
.card-display .btn-float {
  margin-top: 8%;
  border-radius: 2rem;
}
.card-display .btn-float:hover {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.card-display .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-display .spinner-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}/*# sourceMappingURL=styles_v1.css.map */