@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=League+Spartan:wght@300&display=swap');

$font-family: 'League Spartan', sans-serif;
$spacer: 1rem;

$footer-background: #000000;
$footer1-text-color: #ffffff;
$button-background-color: #ffffff;
$button-hover-color: #9b9b9b;

$login-color-pink: #ec5ebc;



//main page footer colors
$footerp-color: #3498db;
$footers-color: #ffffff;
$text-color: #7a7a7a;
$footer-background: #000000;