@import 'config';
@import '_responsive';

.mainContainer{
    display: flex;
    min-height: 100vh;
    align-items: center;
}
.logincontainer {
display: flex;
flex-direction: column;
width: 18vw;
margin: 2rem auto;
padding: 1.5rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
background-color: rgb(197, 159, 233);
border-radius: 2rem;

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    label {
    margin: 1rem;
    font-weight: bold;
    }

    input {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    }

    button {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 15px;
    margin-right: 9.8rem;
    margin-top: 1rem;
    // border: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $login-color-pink;
        color: #000000;
    }
    }
}
}

